 <ion-header>
  <ion-toolbar>
    <ion-title style="color: white">S'inscrire</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content padding>
  <div *ngIf="sel==1">
    <ion-item  lines="none">
      <ion-checkbox #checkbox style="color: #4c79ff" slot="start"></ion-checkbox>
      <ion-label>Oui je suis vendeur</ion-label>

    </ion-item>
    <ion-button style="color: white;background-color: #ff428e;margin-top: 10px;border-radius: 10px" (click)="next(checkbox.checked)"  type="button" expand="block" fill="clear">
      next
    </ion-button>
    <ion-button style="color: white;background-color: #4c79ff;border-radius: 10px" type="button" (click)="router.navigate(['sign-in'])" expand="block" fill="clear">
      sign-in
    </ion-button>
  </div>

  <form *ngIf="sel==2" #f="ngForm" (ngSubmit)="createUser(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div>

            <ion-item>
              <ion-label position="floating">Login</ion-label>
              <ion-input
                      type="text"
                      ngModel
                      name="login"
                      required
                      #login="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!is_sailor">
            <ion-label  position="floating">prénom</ion-label>
            <ion-input
                    type="text"
                    ngModel
                    name="prenom"
                    required
                    #prenom="ngModel"
            ></ion-input>
          </ion-item>
            <ion-item *ngIf="!is_sailor">
              <ion-label  position="floating">nom</ion-label>
              <ion-input
                      type="text"
                      ngModel
                      name="nom"
                      required
                      #nom="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="is_sailor">
            <ion-label  position="floating">nom</ion-label>
            <ion-input
                    type="text"
                    ngModel
                    name="name"
                    required
                    #name="ngModel"
            ></ion-input>
          </ion-item>
            <ion-item *ngIf="is_sailor">
              <ion-label  position="floating">description</ion-label>
              <ion-input
                      type="text"
                      ngModel
                      name="description"
                      required
                      #description="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                      type="email"
                      ngModel
                      name="email"
                      required
                      email
                      #email="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
                    *ngIf="!email.valid && email.touched"
                    lines="none"
            >
              <ion-label>
                Doit être une adresse e-mail valide.
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                      type="password"
                      ngModel
                      name="password"
                      required
                      minlength="3"
                      #password="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
                    *ngIf="!password.valid && password.touched"
                    lines="none"
            >
              <ion-label>
                Doit comporter au moins 6 caractères.
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmez le mot de passe</ion-label>
              <ion-input
                      type="password"
                      ngModel
                      name="password2"
                      required
                      minlength="3"
                      #passwordCtrl2="ngModel"
              ></ion-input>
            </ion-item>
            <ion-item
                    *ngIf="(passwordCtrl2.value != password.value)&&passwordCtrl2.touched "
                    lines="none"
            >
              <ion-label>
                le mot de passe n'est pas le même
              </ion-label>
            </ion-item>


            <ion-searchbar (ionChange)="address()" id="googlePlaces"
                           placeholder="Adresse"  (ionClear)="ClearAutocomplete()"></ion-searchbar>


            <ion-item class="ion-text-center"
                      *ngIf="is_error"
                      lines="none"
            >
              <ion-label style="color: red">
                {{error}}
              </ion-label>
            </ion-item>
            <ion-button style="color: white;background-color: #ff428e;margin-top: 10px;border-radius: 10px" [disabled]="f.invalid||(passwordCtrl2.value != password.value)||!long" type="submit" expand="block" fill="clear">
              s'inscrire
            </ion-button>

            <ion-button style="color: white;background-color: #4c79ff;border-radius: 10px" type="button" (click)="sign_in()" expand="block" fill="clear">
              se connecter
            </ion-button>

          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <!-- <div text-center>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
